
<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="row d-flex flex-wrap">
                <div class="col-md-2 m-auto">
                    <iframe width="360" height="315" src="https://www.youtube.com/embed/SpBveAP3Wbc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-2 m-auto">
                    <iframe width="360" height="315" src="https://www.youtube.com/embed/bxpEy_YG3pM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-2 m-auto">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lVUrdaJvsDU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-2 m-auto">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2Q3FZa3clSg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>