html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

// variables
$darktan: #9A8548;
$grad2: #373737;
$grad1: darken($grad2, 2);
$grad3: lighten($darktan, 4);
$grad5: darken($darktan, 4);

// for presentation's sake
body {
    background: lightgray;
}

.bookshelf--frame {
    max-width: 1200px;
    margin: 0 auto;
}

.bookshelf--frame {
    background: tan;
    background: url('https://static.tumblr.com/8x9m588/C8ho55ylx/bg-wood2.png'), linear-gradient($grad1,$grad2 290px,$grad3 290px,$grad3 292px,$darktan 292px,$darktan 298px,$grad5 298px,$grad5 300px);
    background-size: auto, 10px 300px;
    border-left: 10px solid $darktan;
    border-right: 10px solid $darktan;
    text-align: center;
    &:first-of-type

{
    border-top: 10px solid $darktan;
}

.book-wrapper {
    display: inline-block;
    width: 290px;
    vertical-align: bottom;
    height: 280px;
    position: relative;
    margin: 10px 0;
    max-width: 100%;
    img

{
    height: auto;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%;
    max-width: 100%;
}

}
}