
<link href="~/css/chat.css" rel="stylesheet" />

<style>
    body {
        width: 100vw;
        height: 100vh;
    }

    .msgcard {
        box-shadow: 0 0px 25px rgba(0, 0, 0, .2);
    }

    .chat-log {
        overflow: auto;
        height: calc(75vh);
    }

    .chat-log_item {
        background: #eaeaea;
        padding: 10px;
        margin: 0 auto 10px;
        max-width: 95%;
        min-width: 25%;
        float: left;
        font-size: 13px;
        border-radius: 0 20px 20px 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        clear: both;
    }

        .chat-log_item.chat-log_item-own {
            float: right;
            background: #D5F4E7;
            text-align: right;
            margin-right: 0.7rem;
            border-radius: 20px 0 20px 20px;
        }

    .chat-form {
        padding: 40px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .chat-log_author {
        margin: 0 auto 0em;
        font-size: 12px;
        font-weight: bold;
    }

    .chat-log_time {
        margin: 0 auto .5em;
        direction: rtl;
        font-size: 12px;
        opacity: 0.5;
    }
</style>

<ol class="chat">
    <li class="other">
        <div class="chat-log_message">
            <p id="messagesList"></p>
        </div>
    </li>
</ol>

<input class="textarea" type="text" placeholder="Напиши съобщение" />
<button id="sendButton" class="ml-4 btn btn-dark btn-lg">Изпрати</button>

@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        connection.on("NewMessage",
            function (message) {
                var chatInfo = `<div>[${message.user}] ${escapeHtml(message.text)}</div>`;
                $("#messagesList").append(chatInfo);
            });

       
        $("#sendButton").click(function () {
            var message = $(".textarea").val();
            console.log(message);
            connection.invoke("Send", message);
            $(".textarea").val("");
        });
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
}