@using UniBook.Web.ViewModels.Friends
@using System.Security.Claims

@model ChatViewModel

<link href="~/css/chat.css" rel="stylesheet" asp-append-version="true" />

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="user_info">
                            <span>Чат</span>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body">
                    <div class="container-messages">
                        @foreach (var message in Model.Messages)
                        {
                            var loggedUser = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
                            if (loggedUser == Model.UserId)
                            {
                                <div class="bg-primary">@message</div>
                            }
                            else
                            {
                                <div class="bg-secondary">@message</div>
                            }

                        }
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input class="textarea" type="text" placeholder="Напиши съобщение" />
                        <button id="sendButton" class="ml-4 btn btn-dark btn-lg">Изпрати</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        connection.on("NewMessage",
            function (message) {
                const container = $('.container-messages');
                const chatMessage = document.createElement('div');
                chatMessage.innerHTML = `${escapeHtml(message.text)}`;
                container.append(chatMessage);
            });


        $("#sendButton").click(function () {
            var message = $(".textarea").val();
            var recipient = @Html.Raw(Json.Serialize(Model.UserId));
            console.log(message);
            connection.invoke("Send", message, recipient);
            $(".textarea").val("");
        });
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
}