@using UniBook.Web.ViewModels.Friends
@model ProfileDetailsViewModel

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="text-center card-box">
                <div class="member-card">
                    <div class="thumb-xl member-thumb m-b-10 center-block">
                        <img src="https://www.cmcaindia.org/wp-content/uploads/2015/11/default-profile-picture-gmail-2.png" class="img-circle img-thumbnail" alt="profile-image">
                    </div>

                    <div class="col-lg-12 mt-md-5 w-100">
                        <a class="btn btn-secondary fa-edit">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-9">
            <div class="">
                <div class="">
                    <ul class="nav nav-tabs navtab-custom">
                        <li class="active">
                            <a href="#home" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">Любими книги</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#profile" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-photo"></i></span>
                                <span class="hidden-xs">Прочетени книги</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#settings" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                <span class="hidden-xs">Приятели</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#settings" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                <span class="hidden-xs">Заявки за приятелство</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="home">
                            <p class="m-b-5">
                                Hi I'm Johnathn Deo,has been the industry's standard dummy text ever
                                since the 1500s, when an unknown printer took a galley of type.
                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                                Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras
                                dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                                tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend
                                ac, enim.
                            </p>

                            <div class="m-t-30">
                                <h4>Experience</h4>

                                <div class=" p-t-10">
                                    <h5 class="text-primary m-b-5">Lead designer / Developer</h5>
                                    <p class="">websitename.com</p>
                                    <p><b>2010-2015</b></p>

                                    <p class="text-muted font-13 m-b-0">
                                        Lorem Ipsum is simply dummy text
                                        of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book.
                                    </p>
                                </div>

                                <hr>

                                <div class="">
                                    <h5 class="text-primary m-b-5">Senior Graphic Designer</h5>
                                    <p class="">coderthemes.com</p>
                                    <p><b>2007-2009</b></p>

                                    <p class="text-muted font-13">
                                        Lorem Ipsum is simply dummy text
                                        of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="profile">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="https://via.placeholder.com/400x300/FFB6C1" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="https://via.placeholder.com/400x300/87CEFA" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="https://via.placeholder.com/400x300/B0C4DE" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="https://via.placeholder.com/400x300/ADD8E6" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="https://via.placeholder.com/400x300/D3D3D3" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="https://via.placeholder.com/400x300/48D1CC" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings">
                            <div class="profile-content">
                                <div class="tab-content p-0">
                                    <div class="tab-pane fade in active show" id="profile-friends">
                                        <h4 class="m-t-0 m-b-20">Приятели</h4>
                                        <div class="row row-space-2">
                                            <div class="col-md-6 m-b-2">
                                                <div class="p-10 bg-white">
                                                    @foreach (var friend in Model.Friends)
                                                    {
                                                        <div class="media media-xs overflow-visible">
                                                            <a class="media-left" href="javascript:;">
                                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                                            </a>
                                                            <div class="media-body valign-middle">
                                                                <b class="text-inverse">@friend.Username</b>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
