@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
            <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
    </div>
</div>

@*<div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href=""><img  width="200" height="200" src="https://cdn.ozone.bg/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/e/544365d69856c52a8352de152c5252e2/petdeset-nyuansa-po-tamno---udalzheno-izdanie-blu-ray-31.jpg" class="img-responsive book"></a>

                <button class="button book">Детайли</button>
            </div>
            <div class="col-xs-12 shelf"></div>
        </div>
    </div>*@