@model UniBook.Web.Areas.Administration.ViewModels.Dashboard.IndexViewModel
@{
    Layout = null;
    this.ViewData["Title"] = "Admin dashboard";
}


<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard Bootadmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://bootadmin.org/style/vendor/library.min.css">
    <link rel="stylesheet" href="https://bootadmin.org/style/vendor/jqueryui-flat/jquery-ui.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootadmin.org/style/core/style.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="page-container animsition">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Administration</a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Forum Posts</a>
                </li>
            </ul>
        </nav>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Products</th>
                                            <th class="border-top-0">License</th>
                                            <th class="border-top-0">Support Agent</th>
                                            <th class="border-top-0">Technology</th>
                                            <th class="border-top-0">Tickets</th>
                                            <th class="border-top-0">Sales</th>
                                            <th class="border-top-0">Earnings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="m-r-10"><a class="btn btn-circle btn-info text-white">EA</a></div>
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">Elite Admin</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Single Use</td>
                                            <td>John Doe</td>
                                            <td>
                                                <label class="label label-danger">Angular</label>
                                            </td>
                                            <td>46</td>
                                            <td>356</td>
                                            <td>
                                                <h5 class="m-b-0">$2850.06</h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card has-shadow">
                            <div class="card-body border-top">
                                <h4 class="card-title">Stocks</h4>
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td>APPL</td>
                                            <td>$ 9,500</td>
                                            <td class="color-green">+ 458</td>
                                        </tr>
                                        <tr>
                                            <td>GOOG</td>
                                            <td>$ 15,425</td>
                                            <td class="color-red">- 1,632</td>
                                        </tr>
                                        <tr>
                                            <td>AMD</td>
                                            <td>$ 11,540</td>
                                            <td class="color-green">+ 8,326</td>
                                        </tr>
                                        <tr>
                                            <td>HGM</td>
                                            <td>$ 15,855</td>
                                            <td class="color-green">+ 11,326</td>
                                        </tr>
                                        <tr>
                                            <td>MKR</td>
                                            <td>$ 18,500</td>
                                            <td class="color-red">- 6,586</td>
                                        </tr>
                                        <tr>
                                            <td>APPL</td>
                                            <td>$ 9,500</td>
                                            <td class="color-green">+ 458</td>
                                        </tr>
                                        <tr>
                                            <td>GOOG</td>
                                            <td>$ 15,425</td>
                                            <td class="color-red">- 1,632</td>
                                        </tr>
                                        <tr>
                                            <td>AMD</td>
                                            <td>$ 11,540</td>
                                            <td class="color-green">+ 8,326</td>
                                        </tr>
                                        <tr>
                                            <td>HGM</td>
                                            <td>$ 15,855</td>
                                            <td class="color-green">+ 11,326</td>
                                        </tr>
                                        <tr>
                                            <td>MKR</td>
                                            <td>$ 18,500</td>
                                            <td class="color-red">- 6,586</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Recent Comments</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Customer</th>
                                            <th>Purchased On</th>
                                            <th>Status</th>
                                            <th>Tracking No#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="https://bootadmin.org/images/icons/lulu/Desktop.png" style="width:50px" alt="iMac">
                                            </td>
                                            <td>iMac</td>
                                            <td>Russell</td>
                                            <td>22/08/2018</td>
                                            <td>
                                                <span class="badge badge-success font-weight-100">Paid</span>
                                            </td>
                                            <td>#98BC85SD84</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://bootadmin.org/images/icons/lulu/Mobile.png" style="width:50px" alt="iPhone">
                                            </td>
                                            <td>iPhone</td>
                                            <td>Carol</td>
                                            <td>15/07/2018</td>
                                            <td>
                                                <span class="badge badge-warning font-weight-100">Pending</span>
                                            </td>
                                            <td>#98SA3C9SC</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://bootadmin.org/images/icons/lulu/Clock.png" style="width:50px" alt="apple_watch">
                                            </td>
                                            <td>Apple Watch</td>
                                            <td>Austin Pena</td>
                                            <td>10/07/2018</td>
                                            <td>
                                                <span class="badge badge-success font-weight-100">Paid</span>
                                            </td>
                                            <td>#98BC85SD84</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://bootadmin.org/images/icons/lulu/Headphones.png" style="width:50px" alt="mac_mouse">
                                            </td>
                                            <td>Headphones</td>
                                            <td>Randy</td>
                                            <td>22/04/2018</td>
                                            <td>
                                                <span class="badge badge-default font-weight-100">Failed</span>
                                            </td>
                                            <td>#98SA3C9SC</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Footer -->
            <footer>
                <p>&copy; Bootadmin. All Rights Reserved. <br />Designed and Developed by <a href="https://sazzad.me">Sazzad Hossain</a>.</p>
            </footer>

        </main>
    </div>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://bootadmin.org/scripts/vendor/bootstrap.min.js"></script>
    <script src="https://bootadmin.org/scripts/vendor/library.min.js"></script>

    <script src="https://bootadmin.org/scripts/core/main.js"></script>
</body>
</html>
