.search-sec {
    padding: 2rem;
    width: 102.5%;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    text-transform: capitalize;
    height: 30px !important;
    border-radius: 0;
}

@media (min-width: 992px) {
    .search-sec {
        position: relative;
        top: 0px;
        background: rgba(65, 90, 138, 0.12);
    }
}
