
*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: #1d1f20;
    color: #e5e5e5;
    font-size: 1.5rem;
    font-family: 'Crimson Text', sans-serif;
    margin: 0;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    float: left;
    padding: 1em;
    width: 100%;
}



/*** OPEN BOOK ***/
.open-book {
    background: #fff;
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
    color: #000;
    padding: 2em;
}

    .open-book * {
        position: relative;
    }

        /* Highlight */
        .open-book *::-moz-selection {
            background: rgba(222,255,0,0.75);
        }

        .open-book *::selection {
            background: rgba(222,255,0,0.75);
        }

    /* Header/Footer */
    .open-book header {
        padding-bottom: 1em;
    }

        .open-book header *,
        .open-book footer * {
            font: 700 1em/1.25 'Playfair Display', sans-serif;
            letter-spacing: 0.125em;
            margin: 0;
        }

        .open-book header * {
            font-size: 0.75em;
            text-transform: uppercase;
        }

    .open-book footer {
        padding-top: 1em;
    }

        .open-book footer #page-numbers {
            display: none;
            list-style: none;
            padding: 0;
            text-align: left;
        }

            .open-book footer #page-numbers > li:last-child {
                text-align: right;
            }

.open-book .chapter-title {
    color: black;
    background-size: 0.3em 0.5em;
    font: 600 7vw/1.25 'Playfair Display', sans-serif;
    letter-spacing: 0.125em;
    margin: 0 0 1em 0;
    padding: 1em 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

        .open-book .chapter-title:before,
        .open-book .chapter-title:after {
            border: solid 0 #000;
            border-width: 0.05em 0;
            bottom: calc((0.125em / 2) * 3);
            content: '';
            height: 0.15em;
            position: absolute;
            width: calc(50% - (1em / 2));
        }

        .open-book .chapter-title:before {
            left: 0;
        }

        .open-book .chapter-title:after {
            right: 0;
        }

    /* Body Copy */
    .open-book article {
        line-height: 1.5;
    }

        .open-book article *:not(.chapter-title):not(hr):not(dl) {
            margin: 0 auto;
            max-width: 28.125em;
        }

        .open-book article p {
            text-indent: 2em;
        }

    .open-book .chapter-title + p:first-of-type {
        text-indent: 0;
    }

        .open-book .chapter-title + p:first-of-type:first-letter {
            float: left;
            padding: 0.15em 0.05em 0 0;
            text-transform: uppercase;
        }

    .open-book article > ul,
    .open-book article > ol {
        padding-left: 3em;
    }

        .open-book article > ul ul {
            padding-left: 1em;
        }

    .open-book a {
        background: url('https://media.istockphoto.com/photos/image-of-open-antique-book-on-wooden-table-with-glitter-background-picture-id868054620?k=6&m=868054620&s=612x612&w=0&h=ncowHFG9gcrx56qF18aTb-nCEttafdo2PRGSmbKSLog=') bottom repeat-x;
        background-size: auto 0.25em;
        color: inherit;
        text-decoration: none;
    }

    .open-book s,
    .open-book strike {
        background: url('https://media.istockphoto.com/photos/image-of-open-antique-book-on-wooden-table-with-glitter-background-picture-id868054620?k=6&m=868054620&s=612x612&w=0&h=ncowHFG9gcrx56qF18aTb-nCEttafdo2PRGSmbKSLog=') center repeat-x;
        background-size: auto 0.5em;
        color: rgba(0,0,0,0.5);
        text-decoration: none;
    }

    .open-book sup {
        color: #cc0000;
        font-family: 'Rock Salt', cursive;
        left: 0;
        margin-top: -1em !important;
        max-width: 100% !important;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .open-book mark {
        background: linear-gradient(to bottom, rgba(222,255,0,1) 0%,rgba(222,255,0,0.5) 60%,rgba(222,255,0,1) 100%);
    }

        .open-book mark.pink {
            background: linear-gradient(to bottom, rgba(255,69,190,1) 0%,rgba(255,107,203,0.5) 60%,rgba(255,107,203,1) 100%);
        }

        .open-book mark.blue {
            background: linear-gradient(to bottom, rgba(73,179,255,1) 0%,rgba(107,193,255,0.5) 60%,rgba(107,193,255,1) 100%);
        }

        .open-book mark.green {
            background: linear-gradient(to bottom, rgba(67,226,15,1) 0%,rgba(39,229,54,0.5) 60%,rgba(39,229,54,1) 100%);
        }

        .open-book mark.orange {
            background: linear-gradient(to bottom, rgba(255,134,9,1) 0%,rgba(255,177,34,0.5) 60%,rgba(255,177,34,1) 100%);
        }

    .open-book hr {
        background-color: #000;
        border: 0;
        height: 2px;
        margin: 1em 0;
    }

    .open-book dl {
        border: solid 0 #ccc;
        border-width: 0.0625em 0;
        break-inside: avoid-column;
        margin: 1em auto;
        padding: 1em 0;
    }



/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 50em ) {

    .open-book {
        margin: 1em;
        position: relative;
    }

        .open-book:before {
            background-color: #8B4513;
            border-radius: 0.25em;
            bottom: -1em;
            content: '';
            left: -1em;
            position: absolute;
            right: -1em;
            top: -1em;
            z-index: -1;
        }

        .open-book:after {
            background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
            bottom: -1em;
            content: '';
            left: 50%;
            position: absolute;
            top: -1em;
            transform: translate(-50%,0);
            width: 4em;
            z-index: 1;
        }

        .open-book > * {
            column-count: 2;
            column-gap: 6em;
            position: relative;
            z-index: 1;
        }

        /* Header/Footer */
        .open-book header:before,
        .open-book header:after,
        .open-book footer:before,
        .open-book footer:after {
            background: #fff;
            border-radius: 25%;
            content: '';
            height: 2em;
            position: absolute;
            z-index: -1;
            width: calc(50% + 2em);
        }

        .open-book header:before,
        .open-book footer:before,
        .open-book footer:after {
            border-top-left-radius: 0;
        }

        .open-book header:after,
        .open-book footer:before,
        .open-book footer:after {
            border-top-right-radius: 0;
        }

        .open-book header:before,
        .open-book header:after,
        .open-book footer:after {
            border-bottom-right-radius: 0;
        }

        .open-book header:before,
        .open-book header:after,
        .open-book footer:before {
            border-bottom-left-radius: 0;
        }

        .open-book header:before,
        .open-book header:after {
            top: -2.65em;
        }

        .open-book header:before,
        .open-book footer:before {
            right: 50%;
        }

        .open-book header:before {
            transform: rotate(-2deg);
        }

        .open-book header:after,
        .open-book footer:after {
            left: 50%;
        }

        .open-book header:after {
            transform: rotate(2deg);
        }

        .open-book footer:before,
        .open-book footer:after {
            bottom: -2.65em;
        }

        .open-book footer:before {
            transform: rotate(2deg);
        }

        .open-book footer:after {
            transform: rotate(-2deg);
        }

        .open-book header > *:last-child,
        .open-book footer > *:last-child {
            text-align: right;
        }

        .open-book footer #page-numbers {
            display: block;
        }


.open-book .chapter-title {
    font-size: 2em;
}

.open-book .chapter-title:before,
.open-book .chapter-title:after {
    height: 0.125em;
}

/* Body Copy */
.open-book article p {
    text-indent: 3em;
}

.open-book article > ul,
.open-book article > ol {
    padding-left: 4em;
}
}

.previous {
    margin-right: 262px;
}

.next {
    float: right;
    margin-left: 90px;
}

.save {
    font-size: 18px;
}

#save-btn {
    background-color: #DC143C;
    position: relative;
    bottom: 65px;
}
