@model ReviewsViewModel

<div class="container">
    <div class="row">
        @foreach (var link in Model.Videos)
        {
            <div class="col-md-6 ">
                <div class="card">
                    <div class="card-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="@link" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@{
    var pagination = Model.PaginationViewModel;
}

@(await Component.InvokeAsync<PaginationViewComponent>(pagination))