@model BooksListViewModel

@{ this.ViewData["Title"] = "Home Page"; }

<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="row">
                @foreach (var item in Model.Books)
                {
                    <div class="col-md-2 m-2">
                        <img class="d-inline" src=@item.ImageUrl alt="Movie 1">
                        <a asp-area="" asp-action="Details" asp-controller="Books" asp-route-id=@item.Id class="btn btn-info btn-lg">Детайли</a>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@{
    var pagination = Model.PaginationViewModel;
}

@(await Component.InvokeAsync<PaginationViewComponent>(pagination))
