@using UniBook.Web.ViewModels

@model List<ListAllBooksViewModel>

@{ this.ViewData["Title"] = "Home Page"; }

<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-2 m-2">
                        <img class="d-inline" src=@item.ImageUrl alt="Movie 1">
                        @*<button class="btn-detail">Детайли</button>*@
                        <a asp-action="Details" asp-controller="Book" asp-route-id=@item.Id class="btn btn-info btn-lg">Детайли</a>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@*<div id="site-content">
        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-inline">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
                                    <img class="d-inline" src="" alt="Movie 1">

                                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>*@
