
<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="row">
                <aside class="aside-container">
                    <ul>
                        <li>
                            <a href="#">Старобългарска литература</a>
                        </li>
                        <li>
                            <a href="#">Съвременна литература</a>
                        </li>

                        <li>
                            <a href="#">Психология</a>
                        </li>

                        <li>
                            <a href="#">Криминална проза</a>
                        </li>

                        <li>
                            <a href="#">История</a>
                        </li>
                    </ul>
                </aside>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>

                <div class="col-md-2 m-2">
                    <img class="d-inline" src="https://ciela.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/i/n/institutat-tvardi-koritsi.jpg" alt="Movie 1">

                    <button class="btn-detail">Чети онлайн</button>
                </div>
            </div>
        </div>
    </div>
</main>