@using UniBook.Web.ViewModels
@model ContentBookViewModel

<div id="wrapper">
    <div id="container">
        <section class="open-book">
            <article>
                <h2 class="chapter-title">@Model.Title</h2>
                <p>@Model.Content.Substring(0, 1500)</p>
            </article>

            <ul class="pager">
                <li class="previous">
                    <a href="#">Предишна страница</a>
                </li>
                <li class="next">
                    <a href="#">Следваща страница</a>
                </li>
            </ul>
        </section>
    </div>

    <button type="button" id="save-btn" class="btn btn-primary btn-lg btn-block">
        <span class="save">Запиши текущата страница</span>
    </button>
</div>