@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<UniBook.Models.Book>

<main class="main-content">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                @foreach (var book in Model)
                {
                <div class="col-sm-2">
                    <div class="latest-movie">
                        <a href="#">
                            <img src="@book.ImgUrl" alt="Book" />
                        </a>

                        <a asp-action="Index" asp-controller="Book" asp-route-id="@book.Id" class="button .btn-primary btn-outline-primary mr-1">Чети онлайн</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</main>
