@model BooksListViewModel

<section class="search-sec">
    <div class="container">
        <form asp-controller="Books" asp-action="Search" method="get" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 mt-md-2">
                            <input type="text" name="bookName" class="form-control search-slt" placeholder="Търсене по име на книга">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 mt-md-2">
                            <input type="text" name="authorName" class="form-control search-slt" placeholder="Търсене по автор">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 mt-md-2">
                            <select class="form-control search-slt" name="year" id="exampleFormControlSelect1">
                                <option>Търсене по година</option>
                                <option>2020</option>
                                <option>2019</option>
                                <option>2018</option>
                                <option>2017</option>
                                <option>1894</option>
                            </select>
                        </div>
                        <div class="col-md-3 p-4">
                            <input type="submit" class="btn btn-danger wrn-btn" value="Търсене" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="row">
                @foreach (var item in Model.Books)
                {
                    <div class="col-md-2 m-2">
                        <img class="d-inline" src=@item.ImageUrl alt="Movie 1">
                        <a asp-area="" asp-action="Details" asp-controller="Books" asp-route-id=@item.Id class="btn btn-info btn-lg">Детайли</a>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@{
    var pagination = Model.PaginationViewModel;
}

@(await Component.InvokeAsync<PaginationViewComponent>(pagination))