<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
</head>

<body>
    <div class="container">
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status online"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
        <button class="card">
            <section>
                <svg class="avatar" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="40" />
                </svg>
                <span class="status offline"></span>
                <h3 class="user-name">John Doe</h3>
                <span class="user-role">Student</span>
            </section>
        </button>
    </div>
</body>