
<div class="container">
    <div class="top">
        <h2>Friend's List</h2>
    </div>
    <div class="row">
        <div class="shadow">
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" class="img-circle" width="60">
                </div>
                <div class="col-sm-8">
                    <h4><a href="#">Rahul Jain</a></h4>
                    <p><a href="#">4 mutual friends</a></p>
                </div>
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" alt="group" width="40" />
                    <br>
                    <a href="#">Send Request</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" class="img-circle" width="60">
                </div>
                <div class="col-sm-8">
                    <h4><a href="#">Ram Ranga Swami</a></h4>
                    <p><a href="#">4 mutual friends</a></p>
                </div>
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" alt="group" width="40" />
                    <br>
                    <a href="#">Send Request</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" class="img-circle" width="60">
                </div>
                <div class="col-sm-8">
                    <h4><a href="#">Ram Ranga Swami</a></h4>
                    <p><a href="#">4 mutual friends</a></p>
                </div>
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" alt="group" width="40" />
                    <br>
                    <a href="#">Send Request</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" class="img-circle" width="60">
                </div>
                <div class="col-sm-8">
                    <h4><a href="#">Ram Ranga Swami</a></h4>
                    <p><a href="#">4 mutual friends</a></p>
                </div>
                <div class="col-sm-2">
                    <img src="https://pbs.twimg.com/profile_images/514883256/john-cena71_400x400.jpg" alt="group" width="40" />
                    <br>
                    <a href="#">Send Request</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>