@using UniBook.Web.ViewModels.Friends
@model IEnumerable<ListUsersViewModel>

<div class="profile-content">
    <div class="tab-content p-0">
        <div class="tab-pane fade in active show bg-light" id="profile-friends">
            <h4 class="m-t-0 m-b-20">Всички потребители</h4>
            <div class="row row-space-2">
                <div class="col-md-6 m-b-2">
                    <div class="p-10 bg-white">
                        @foreach (var user in Model)
                        {
                            <div class="media media-xs overflow-visible m-md-4">
                                <a class="media-left" href="javascript:;">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                </a>
                                <div class="media-body valign-middle">
                                    <p class="text-inverse">@user.Username</p>

                                    <button class="btn btn-secondary">Добави в приятели</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>